<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css"
      referrerpolicy="no-referrer"
    />
    <title>Pastey</title>
  </head>
  <body class="grey lighten-3">
    <nav>
      <div class="nav-wrapper light-green darken-1">
        <div class="container">
          <a href="/" class="brand-logo">Pastey</a>
          <ul id="nav-mobile" class="right">
            <li><a href="/new">New</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">{% block content %}{% endblock %}</div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
